<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Confluence-Style Table</title>
    <style>
        .confluence-table {
            border-collapse: collapse;
            width: 100%;
            max-width: 1000px;
            /* A4 paper width in pixels */
            margin: 0 auto;
            /* Center the table on the page */
            page-break-inside: avoid;
            /* Avoid breaking the table between pages */
        }

        .confluence-table th,
        .confluence-table td {
            border: 1px solid #ccc;
            padding: 12px 8px;
            text-align: center;
            white-space: normal;
            font-size: 14px;
            box-sizing: border-box;
        }

        .confluence-table th {
            background-color: #f2f2f2;
            font-weight: bold;
            /* white-space: nowrap; */
        }

        .confluence-table tr {
            background-color: #fff;
        }

        .confluence-table tr:hover {
            background-color: #ddd;
        }

        /* Center the top header */
        .top-header {
            text-align: center;
        }

        /* Remove margins and set header-container to full width */
        .header-container {
            display: block;
            /*justify-content: space-around;*/
            /*align-items: center;*/
            /*margin: 0 auto;*/
            min-width: 779px !important;
            width: 780px !important;
            font-weight: 800;
            /*max-width: 794px;*/
            padding: 10px 0;
            box-sizing: border-box;
        }
        .header-container span {
            display: inline-block;
            margin-top: 10px;
        }
        .header-container span:nth-of-type(2) {
            display: inline-block;
            width: 400px;
            color: red;
            margin-left: 500px;
            transform: translateX(400px);
        }

        .izoh {
            color: black;
            font-style: italic;
            text-decoration: underline orange;
            text-align: center;
            margin: 20px auto 30px;
            line-height: 1.5;
            display: flex;
            justify-content: center;
        }

        .izoh-container {
            max-width: 794px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            margin: 0 auto
        }

        img {
            width: 100px;
            height: 100px;
        }

        .mulk-header {
            text-align: center !important;
        }

        /* Media query for adjusting table size and row heights for A4 paper */
        @media print {
            .confluence-table {
                max-width: 900px;
                /* A4 paper width in pixels */
            }

            .confluence-table th,
            .confluence-table td {
                padding: 6px;
                font-size: 12px;
            }

            .confluence-table th {
                font-size: 14px;
            }

        }
    </style>
</head>

<body>
<div class="page-wrapper">
    <h3 class="top-header">Transport vositasini baxolash xulosasi &#8470; {{ .CardID }}</h3>
<!--    <div class="header-container">-->
<!--        <span>“Online baho“ dasturi</span>-->
<!--        <span>{{ .Date }} yil</span>-->
<!--    </div>-->
    <table>
        <tr style="padding-bottom: 20px">
            <th style="text-align: left; max-width: 332px;">
                <div style="width: 332px;">
                    “Online baho“ dasturi
                </div>
            </th>
            <td style="padding-left: 450px; font-weight: 800; text-align: right; margin-left: auto" colspan="6">
                {{ .Date }} yil
            </td>
        </tr>
    </table>
    <br>
    <table class="confluence-table">
        <tr style="text-align: left;">
            <th style="text-align: left; max-width: 332px;">
                <div style="width: 332px;">
                    Bank tarmog’i nomi
                </div>
            </th>
            <td style="text-align: left; max-width: 568px;" colspan="6">
                <div style="width: 568px;">
                    MFO: {{ .Filial }}
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: left; max-width: 332px;">
                <div style="width: 332px;">
                    Kredit inspektori
                </div>
            </th>
            <td style="text-align: left;" colspan="6">
                <div style="width: 332px;">
                    {{ .LoanInspector }} (CBID:{{ .InspectorCBID }})
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: left; max-width: 332px;">
                <div style="width: 332px;">
                    Mulk egasi
                </div>
            </th>
            <td style="text-align: left;" colspan="6">
                {{.PropertyOwner}}</td>
        </tr>
        <tr>
            <th style="text-align: left; max-width: 332px;">
                <div style="width: 332px;">
                    Mulk egasi
                    PINFL / STIR
                </div>
            </th>
            <td style="text-align: left;" colspan="6">
                {{.OwnerPinfl}}</td>
        </tr>
        <tr>
    </table>
    <table class="confluence-table">
        <th class="mulk-header" colspan="7">Mulk ma'lumotlari</th>
        </tr>
        <tr>
            <th style="max-width: 113px;">
                <div style="width: 113px;">
                    Modeli / Markasi
                </div>
            </th>
            <th style="max-width: 113px;">
                VIN raqami
            </th>
            <th style="max-width: 113px;">
                Davlat raqam belgisi
            </th>
            <th style="max-width: 113px;">
                Ishlab chiqarilgan yili
            </th>
            <th style="max-width: 113px;">
                Bosib o'tgan masofasi, km
            </th>
            <th style="max-width: 113px;">
                Texnik holati
            </th>
            <th style="max-width: 113px;">
                Yoqilg'i turi
            </th>
        </tr>
        <tr>
            <td>{{ .TransportName }}</td>
            <td>{{ .TransportVinNum }} </td>
            <td>{{ .TransportCarNumber }}</td>
            <td>{{ .TransportManufactureYear }} yil</td>
            <td>{{ .TransportMileage }} km</td>
            <td>{{ .TransportTechnicalCondition }}</td>
            <td>{{ .TransportFuel }}</td>
        </tr>
    </table>
    <table class="confluence-table">
        <tr>
            <th class="mulk-header" colspan="6">Baholash uchun tanlangan analoglar</th>
        </tr>
        <tr>
            <th>Mulk nomi</th>
            <th style="width: fit-content">Ishlab chiqarilgan yili</th>
            <th>Bosib o'tgan masofasi<br />(km.)</th>
            <th>Bozor qiymati<br />(so'm)</th>
            <th>Analog ID</th>
            <th style="padding: 0 20px; font-size: 12px">Analogning axborot manbalari (URL)</th>
        </tr>
        {{ range .AnalogData }}
        <tr>
            <td>{{ .AnalogName }}</td>
            <td style="width: fit-content">{{ .AnalogYear }} yil</td>
            <td>{{ .AnalogMileage }} km</td>
            <td style="white-space: nowrap">{{ .AnalogMarketPrice }}</td>
            <td>{{ .AnalogID }}</td>
            <td><a href="{{ .AnalogUrl }}">{{ .AnalogUrl }}</a></td>
        </tr>
        {{ end }}
    </table>
    <div style="box-sizing: border-box; width: 100%; padding: 15px 10px; margin: 0 auto; background-color: #f2f2f2; text-align: center; border: 1px solid #ccc;">
        {{ .AnalogCount }}
    </div>
    <table class="confluence-table">
        <tr>
            <th class="mulk-header" colspan="6">Xulosa</th>
        </tr>
        <tr>
            <th colspan="2">Qo'llanilgan baholash usuli</th>
            <td colspan="4">Taqqoslash</td>
        </tr>
        <tr>
            <th rowspan="3" colspan="2">Aniqlangan qiymat</th>
            <td>Bozor qiymati</td>
            <td colspan="3">{{ .TransportMarketPrice }}</td>
        </tr>
        <tr>
            <td>Garov qiymati</td>
            <td colspan="3">{{ .TransportCreditPrice }}</td>
        </tr>
        <tr>
            <td>Autolight kreditlari uchun<br>Garov qiymati</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th colspan="2">Mulk maqomi</th>
            <td>Navbatdagi</td>
            <td colspan="3">{{ .PropertyComment }}</td>
        </tr>
    </table>
    <div class="izoh-container">
        <p class="izoh">
            Mulk bahosini aniqlash Hamkorbank ATBning Garov bilan ishlash toʻgʻrisidagi Nizomi talablariga muvofiq,
            {{ .LoanInspector }} tomonidan taqdim etilgan xujjatlar, maʼlumotlar va fotosuratlar asosida
            “Online baho“ avtomatlashtirilgan baholash dasturi orqali amalga oshirildi.
        </p>
    </div>
</div>
</body>

</html>